@import '../../styles/palette.module.scss';

.mostlikedList {
    
    display: flex;
    flex-direction: column;
    gap:20px;
    list-style: none;
    width: 30vw;

    .mostlikedEl {
        height: 80px;
        border: 1px solid rgb(223, 223, 223);
        display: flex;
        justify-content: flex-start;
        padding: 0.5rem;
        gap: 20px;
        border-radius: 10px;
        align-items: center;

        .img_container {
            width: 60px;
            height: 60px;
            background-color: red;
            border-radius: 5px;
            
            img {
                border-radius: 5px;
            }
        }

        .title {
            font-weight: bold;
        }

    }

    li div:last-child {
        margin-left: auto;
        padding-right: 2rem;
    }
}