@import '../../styles/palette.module.scss';

    
.form {
    margin-top: 2rem;
    padding: 5rem;

    @media all and (max-width: 767px) {
        padding: 2rem;
    }

    label {
        text-align: left;
        font-size: 0.8rem;
        padding-left: 1rem;
        color: rgb(112, 112, 112);
        font-weight: 600;
    }

    input {
        width: 100%;
        font-weight: 600;    
    }

    input[type="email"],input[type="password"] {
        border-radius: 20px;
        height: 40px;
        border: 1.5px solid rgb(223, 223, 223);
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        padding-left: 1rem;
        margin-bottom: 1.5rem;
        color: $text-general-color;
        width: 100%;
    }

    input:focus-visible {
        outline: 2px solid $orange;
        outline-offset: -2px;
        color: $text-general-color;
        

    }


    input[type="submit"] {
        color: white;
        border-radius: 20px;
        height: 40px;
        text-align: center;
        border: 1px solid $orange;
        cursor: pointer;
        margin-top: 1.5rem;
        transition: 0.3s ease;
        background-image: linear-gradient(to bottom right, $primary-color, $yellow);
    }
    input[type="submit"]:hover {
        opacity: 0.8;
    }

    input[type="submit"]:active { 
        opacity: 0.8;
    }
}