.loginpage {
    display: flex;
    height: 100vh;


    .img_container {
        width: 55%;
        background-color: red;
        background-image: url('../../public/img_login.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .allinfo {
        margin: 0 auto;
        width: 45%;

        .logo_container {
            padding: 2rem;
            text-align: center;
        }

        h1 {
            text-align: center;
            margin-bottom: 1rem;
        }

        p {
            text-align: center;
        }
    }



    @media all and (max-width: 767px) {
        .img_container {display: none;}
        .allinfo { width: 100%;}
    }


}