.sidebarLayout {
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .sidebarLayout {
    display: none;
  }
}

