.sidebarLayout{
    right: 5px;
    overflow: scroll;
    z-index: 2;
    width:180px;
    position: absolute;
    overflow: hidden;
    background-color:rgba(192, 183, 183, 0.493);   
    top: 50px;

}