@import '../../styles/palette.module.scss';

.Navbar {

    font-size: 14px;

    ul {
        margin: 40px 0 0 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    li {
        margin-bottom: 15px;
    }

    li a {
        font-size: 17px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        
    }

    .activebutton {
        color: $primary-color;
    }

    li a:hover {
        color: $orange;
    }

    li a svg {
        margin-right: 5px;
        font-size: 20px;
    }



    @media all and (max-width: 991px) {




        &__logo {
            display: none;
        }

        ul {
            margin-top: 10px;
            flex-direction: row;
            justify-content: space-around;
        }

        
        li a {
            display: inline-block;
        }

        li {
            margin-right: 10px;
            margin-bottom: 0;
      
        }

        li a svg {
            display: block;
            margin: 0 auto;
            font-size: 30px
        }
     
    }

}