@import '../../styles/palette.module.scss';

.Navbar {

    font-size: 14px;

    ul {
        margin-top: 20px;

    }

    li {
        margin-bottom: 15px;
    }

    li a {
        font-size: 17px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 10px;

        
    }

    .activebutton {
        color: $primary-color;
    }

    li a:hover {
        color: $secondary-color;
    }

    li a svg {
        margin-right: 5px;
        font-size: 20px;
    }



    @media all and (max-width: 767px) {


        text-align: center;

        ul {
            margin-top: 10px;
        }

        li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 0;
        }
     
    }

}