.user_log {
    background-color: #F2F3F7;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 0.2rem;
    align-items: center;

    .img_user {
        font-size: 18px;
    }
    
}