.user_log {
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(223, 223, 223);
    display: flex;
    gap: 10px;
    padding: 0.5rem;
    align-items: center;
    cursor: pointer;

    .img_user {
        font-size: 18px;
        display: flex;
        align-self: center;
    }

    .info_user {
        font-weight: 600;
    }
    
}