.prodcard {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 5px;
  width: 60%;
  background-color: white;
  border-radius: 5px;

  .prodimg {
    object-fit: contain;
    width: 60px;
  }

  .prodrow {
    display: flex;
    justify-content: space-between;

    .prodprice {
      padding-top: 6px;
      font-size: 12px;
    }
    .sidebarDel {
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
    }
  }
}
