.prodcard {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
  width: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .prodimg {
    object-fit: contain;
    width: 60px;
  }

  .prodrow {
    display: flex;
    justify-content: space-between;

    .prodprice {
      padding-top: 6px;
      font-size: 10px;
    }
    .sidebarDel {
      cursor: pointer;
      font-size: 14px;
      margin-top: 3.5px;
    }
  }
}
