@import '../../styles/palette.module.scss';

.ModalSignup {
    background-color: rgba(0, 0, 0, 0.772);
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .modal {
        background-color: white;
        border-radius: 20px;
        width: 300px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .closemodal {
            all: unset;
            text-align: end;
            margin: 1rem 1rem 0 0;

            
        }

        .btn {
            border-radius: 20px;
            height: 40px;
            width: 60px;
            text-align: center;
            background-color: transparent;
            border: 1.5px solid rgb(223, 223, 223);
            margin: 20px 8px 40px 5px;
            cursor: pointer; 
        }

        .btn:hover {
            border: 2px solid $orange;
        }

        .btn:active {
            border: 1px solid $orange;
            color: white;
            font-weight: 600;
            background-image: linear-gradient(to bottom right, $primary-color, $yellow);
        }

    }
}

.visible {
    display: block;
}