.Wrapper {
  position: relative;
  top: -355px;
  // margin: 0 20vw 0px;
  width: 1500px;
  // min-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  // justify-content: center;

  .Card {
    position: relative;

    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 280px;
    min-width: 270px;
    // z-index: 0;
    background-color: white;
    padding: 20px;
    height: 285px;
    display: block;
    margin: 1px auto 20px;
    transition: all 0.45s;

    &:hover{
      z-index: 2;
      background-color: rgba(37, 37, 37, 0.226);
    }

    &:hover > img{
      width: 0;
      
    }

    &:hover > .descCard{
      position: relative;
      color: black;
      transition: all 0.45s;
      overflow-y: scroll;
      text-align: left;
    }

    img {
      max-height: 150px;
      width: 100%;
      object-fit: contain;
      // margin-bottom: 10px;
    }

    .descCard{
      position: absolute;
      background: transparent;
      color: transparent;
      height: 135px;
      margin: 0;
      padding: 0;
      
    }

    .title_card{
      min-height: 45px;
      max-height: 45px;
      display: block;
      // width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .PrRaBtn{
      display: flex;
      justify-content: space-between;

    .Price_Rating{
         display: flex;
         flex-direction: column;
         gap: 10px;
         text-align: left;
    }

    button{
      cursor: pointer;
      height: 30px;
      width: 124px;
      border: 1px solid;
      border-color: #a88734 #9c7e31 #846a29;
      border-radius: 4px;
      outline: none;
    }

    .btnAB{
        display: flex;
        flex-direction: column;
        margin-top: -7px;
        gap: 5px;
    
      .btnAdd{
      
      // width: 30%;
      
      background-color: #f0c14b;
      
      
      
      background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

      &:hover {
        background: linear-gradient(to bottom, darken(#f7dfa5, 10%), darken(#f0c14b, 10%));
      }
}
      .btnBuy{
        cursor: pointer;

        background-color: #ff7b00;

        &:hover {
          background: linear-gradient(to bottom, darken(#ff9100, 10%), darken(#ff8800, 10%));
        }
    }

      
     

      
    
  }
}}
}