.Wrapper {
  position: relative;
  top: -355px;
  max-width: 1400px;
  margin: auto;
  margin-bottom: -355px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  gap: 20px;
  min-height: 105vh;

  @media screen and (min-width: 1620px) {
    margin-right: calc(50% - 700px) !important;
  }
  @media only screen and (max-width: 1300px) {
    margin-right: auto !important;
  }
  @media only screen and (max-width: 650px) {
    margin: auto !important;
    top: -120px;
    margin-bottom: -120px !important;
  }

  .Card {
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 280px;
    min-width: 270px;
    background-color: white;
    padding: 20px;
    height: 285px;
    display: block;
    margin: 0 0 20px;
    transition: all 0.45s;

    &:nth-child(5) {
      min-width: 44%;
    }
    &:nth-child(8) {
      width: 1300px;
    }
    &:nth-child(15) {
      min-width: 44%;
    }
    &:nth-child(24) {
      width: 1300px;
    }

    @media screen and (max-width: 1500px) {
      &:nth-child(5) {
        width: 280px;
        min-width: 280px;
      }
      &:nth-child(8) {
        max-width: 280px;
      }
      &:nth-child(15) {
        width: 280px;
        min-width: 280px;
      }
      &:nth-child(24) {
        max-width: 280px;
      }
    }

    &:hover {
      z-index: 2;
      // background-color: rgba(37, 37, 37, 0.226);
      cursor: pointer;
    }

    img {
      min-width: 150px;
      max-height: 150px;
      width: 150px;
      height: 150px;
      object-fit: contain;
    }

    .title_card {
      min-height: 45px;
      max-height: 45px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .PrRaBtn {
      display: flex;
      justify-content: space-between;

      .Price_Rating {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
      }

      button {
        cursor: pointer;
        height: 30px;
        width: 130px;
        white-space: nowrap;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        border-radius: 4px;
        outline: none;

        a {
          text-decoration: none;
          color: black;
        }
      }

      .btnAB {
        display: flex;
        flex-direction: column;
        margin-top: -7px;
        gap: 5px;

        .btnAdd {
          background-color: #f0c14b;
          background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

          &:hover {
            background: linear-gradient(
              to bottom,
              darken(#f7dfa5, 10%),
              darken(#f0c14b, 10%)
            );
          }
        }
        .btnBuy {
          cursor: pointer;
          background-color: #ff7b00;

          &:hover {
            background: linear-gradient(
              to bottom,
              darken(#ff9100, 10%),
              darken(#ff8800, 10%)
            );
          }
        }
      }
    }
  }
}
