.Login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100%;
  // overflow: hidden;

  .header {
    .logo {
      width: 100px;
      height: 74px;
      object-fit: contain;
      margin: 0;
    }
  }

  h1 {
    font-weight: 400;
    margin: 0 auto 20px;
  }

  .form {
    form {
      width: 315px;
      padding: 15px 25px;
      text-align: left;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }

    label {
      display: block;
      margin: 5px auto 5px;
    }

    p {
      font-size: small;
    }

    small {
      color: red;
      font-size: 12px;
    }

    input {
      height: 30px;
      // margin-bottom: 10px;
      background-color: white;
      width: 100%;
      border: 1px solid #a6a6a6;
      border-radius: 4px;
      box-sizing: border-box;
      border-top-color: #949494;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
        0 1px 0 rgba(0, 0, 0, 0.07) inset;
      padding: 0 5px;
      outline: none;

      &:focus {
        border-color: darkorange;
        box-shadow: 0 0 3pt 1pt orange;
        outline: none;
      }
    }

    button {
      cursor: pointer;
      width: 100%;
      height: 30px;
      margin-top: 7px;
      background-color: #f0c14b;
      border: 1px solid;
      border-color: #a88734 #9c7e31 #846a29;
      border-radius: 4px;
      outline: none;
      background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

      &:hover {
        background: linear-gradient(
          to bottom,
          darken(#f7dfa5, 5%),
          darken(#f0c14b, 5%)
        );
      }
      a {
        text-decoration: none;
        color: black;
      }
    }

    .register {
      background-color: #f0c14b;
      border-color: #a88734 #9c7e31 #846a29;
      background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
      border-color: darkgray;
      outline: 0;

      &:hover {
        background: linear-gradient(
          to bottom,
          darken(#f7f8fa, 5%),
          darken(#e7e9ec, 5%)
        );
      }
    }
  }

  .divider {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;

    &:after {
      content: "";
      width: 100%;
      background-color: transparent;
      display: block;
      height: 1px;
      border-top: 1px solid #e7e7e7;
      position: absolute;
      top: 85%;
      margin-top: -1px;
      z-index: 1;
    }

    p {
      line-height: 1;
      font-size: 12px;
      color: #767676;
      font-weight: 400;
      z-index: 2;
      position: relative;
      display: inline-block;
      background-color: #fff;
      padding: 0 8px 0 7px;
      margin-bottom: 0;
    }
  }

  footer {
    margin-top: 30px;
    width: 95%;
    height: 100px;
    display: block;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.14),
      rgba(0, 0, 0, 0.03) 3px,
      transparent
    );

    ul {
      margin-top: 20px;
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: small;
      gap: 20px;
      font-size: 11px;
      line-height: 1.465;

      li {
        list-style: none;
        color: #0044cc;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    small {
      font-size: 12px;
      color: rgb(105, 105, 105);
    }
  }
}