.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
    overflow: hidden;

    .header {
        .logo {
            width: 100px;
            object-fit: contain;
            margin: 20px 0;
        }
    }

    h1 {
        font-weight: 400;
        margin-bottom: 20px;
    }

    .form {
        width: 315px;
        padding: 25px;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;

        label {
            display: block;
            margin: 5px auto;
        }

        p {
            font-size: small;
        }
        
        input {
            height: 30px;
            margin-bottom: 10px;
            background-color: white;
            width: 100%;
            border: 1px solid #a6a6a6;
            border-radius: 4px;
            box-sizing: border-box;
            border-top-color: #949494;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
              0 1px 0 rgba(0, 0, 0, 0.07) inset;
            padding: 0 5px;
            outline: none;

            &:focus {
                border-color: darkorange;
                box-shadow: 0 0 3pt 1pt orange;
                outline: none;
            }
        }

        button {
            cursor: pointer;
            width: 100%;
            height: 30px;
            margin-top: 10px;
            background-color: #f0c14b;
            border: 1px solid;
            border-color: #a88734 #9c7e31 #846a29;
            border-radius: 4px;
            outline: none;
            background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

            &:hover {
                background: linear-gradient(to bottom, darken(#f7dfa5, 10%), darken(#f0c14b, 10%));
            }
        }
    }

    footer {
        margin-top: 30px;
        width: 95%;
        display: block;
        background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);

        ul {
            display: flex;
            width: 100%;
            justify-content: center;
            font-size: small;
            gap: 20px;
    
            li {
               list-style: none;
               color: #0044cc;

               &:hover {
                   cursor: pointer;
                   text-decoration: underline;
               }
            }
        }
    }
}