.Checkout__Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  margin-top: 50px;
  background: rgb(214, 214, 214);
  background: linear-gradient(
    0deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(136, 223, 223, 1) 100%
  );
  padding: 20vh;
  z-index: 0;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  padding-bottom: 10vh;
  height: 50vh;
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .Checkout__Button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

    &:hover {
      background: linear-gradient(
        to bottom,
        darken(#f7dfa5, 10%),
        darken(#f0c14b, 10%)
      );
    }
  }

  .Checkout__Icon {
    border-radius: 50%;
    height: 100px;
  }
}

.Wrapper_Home {
  display: flex;
  flex-direction: column;  
}

.showMore {
  cursor: pointer;
  width: 130px;
  height: 30px;
  margin-top: 7px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

  &:hover {
    background: linear-gradient(
      to bottom,
      darken(#f7dfa5, 5%),
      darken(#f0c14b, 5%)
    );
  }
}

.cartPage {
  margin-top: 10px;
  .cartPage_wrap {
    display: flex;
    flex-wrap: nowrap;
    margin: auto 2.5%;
    gap: 50px;
    padding: 0 20px;

    .yourCart {
      text-align: left;
    }

    .centered {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.containerProfile{
  display: flex;
  justify-content:center;
  margin: 150px auto;
  gap: 60px;
  background-color: rgba(255, 255, 255, 0.623);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.381);
  width: 600px;
  padding: 50px 0;
  border-radius:20px;
}