.Footer {

    li {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-right: 5px;
        font-size: 10px;
    }

    li a {
        color: #263238;
    } 

    @media all and (max-width: 767px) {

        text-align: center;

        li a {
            color: #fff;
        } 
    } 
    
} 