@import '../../styles/palette.module.scss';


.btn {
    background-color: rgb(226, 224, 222);
    border-radius: 20px;
    height: 40px;
    width: 10%;
    text-align: center;
    color: rgb(154, 154, 154);
    border: none;
    margin: 20px 0 20px 0;
    
}

.selected {
    all: unset;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 10%;
    text-align: center;
    background-image: linear-gradient(to bottom right, $primary-color, rgb(255, 204, 0));
    margin: 5px 10px;
}
