@import '../../styles/palette.module.scss';

.btn {
    // box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);    background-color: rgb(226, 224, 222);
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    background-color: transparent;
    border: 1.5px solid rgb(223, 223, 223);
    margin: 20px 8px 40px 5px;
    cursor: pointer;
    
    @media all and (max-width: 767px) {
        padding: 10px 20px;
    }
}

.selected {
    font-weight: 600;
    box-shadow: none;
    color: white;
    border: 1px solid $orange;
    background-image: linear-gradient(to bottom right, $primary-color, $yellow);
}