.player_all {
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 100vw;
    padding: 1rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    align-items: center;

    .img_container {
        background-color: red;
        width: 80px;
        height: 80px;
    }

    .player_container {

        
        .icons_player {

            display: flex;
            justify-content: center;
            gap:10px;

            .play_pause_btn {
                border: none;
                background: none;
                cursor:pointer;
                font-size: 2.5rem;
            }

            .forwardBackward_btn{
                border: none;
                background: none;
                cursor:pointer;
                font-size: 1.5rem;
            }

            .forwardBackward_btn:hover {
                color:grey
            }

        }

        .timing_player {
            display: flex;
            gap: 10px;

            
        }

        
    }

    .volume_container {

        .volume_btn {
            border: none;
            background: none;
            cursor:pointer;
            font-size: 1.5rem;
        }
    }
}