@import '../../styles/palette.module.scss';

.player_all {
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 100vw;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #CFD8DC;
    border-top: 1px solid #CFD8DC;
    align-items: center;
    color: $text-general-color;

    .img_container {
        background-image: linear-gradient( to right, $primary-color, $orange);
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    .player_container {

        input[type="range"] {
            -webkit-appearance: none;
            width: 200px;
            height: 7px;
            background: rgb(207, 207, 207);
            border-radius: 5px;
            background-image: linear-gradient($primary-color, $orange);
            background-size: 50% 100%;
            background-repeat: no-repeat;
          }
          
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: $primary-color;
            cursor: ew-resize;
            box-shadow: 0 0 2px 0 rgb(156, 156, 156);
          }
          
          input[type=range]::-webkit-slider-runnable-track  {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
          }

        .icons_player {
            display: flex;
            justify-content: center;
            gap:10px;

            .play_pause_btn {
                color: $text-general-color;
                border: none;
                background: none;
                cursor:pointer;
                font-size: 2.5rem;
                transition: 0.2s;
            }

            .play_pause_btn:hover {
                color: $orange; 
            }


            .forwardBackward_btn{
                color: $text-general-color;
                border: none;
                background: none;
                cursor:pointer;
                font-size: 1.5rem;
                transition: 0.2s;
            }

            .forwardBackward_btn:hover {
                color:$orange;
            }


        }

        .timing_player {
            display: flex;
            gap: 10px;
            align-items: center;
            
        }

        
    }

    .volume_container {
        
        display: flex;
        align-items: center;

        input[type="range"] {
            -webkit-appearance: none;
            width: 100px;
            height: 7px;
            background: rgb(207, 207, 207);
            border-radius: 5px;
            background-image: linear-gradient($primary-color, $orange);
            background-size: 50% 100%;
            background-repeat: no-repeat;
          }
          
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: $primary-color;
            cursor: ew-resize;
            box-shadow: 0 0 2px 0 rgb(156, 156, 156);
          }
          
          input[type=range]::-webkit-slider-runnable-track  {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
          }

        .volume_btn {
            color: $text-general-color;
            border: none;
            background: none;
            cursor:pointer;
            font-size: 1.5rem;
        }
    }

    
}

// .visible {
//     display: block;
// }

@media all and (max-width: 767px) {

    .player_all{
        input[type="range"]{
            display: none;
        }

        .timing_player {

            .start_timing {
                display: none;
            }

            .toEnd_timing{
                display: none;
            }
        }
    }
    
}