@import '../../styles/palette.module.scss';

.btn {
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    background-color: transparent;
    border: 1.5px solid rgb(223, 223, 223);
    margin: 20px 8px 40px 5px;
    cursor: pointer;
    
    @media all and (max-width: 767px) {
        padding: 10px 20px;
    } 
}

.selected {
    font-weight: 600;
    box-shadow: none;
    color: white;
    border: 1px solid $orange;
    background-image: linear-gradient(to bottom right, $primary-color, $yellow);
}