.wrapper {
    width: 100%;

    .box {

        display: flex;
        padding: 20px;
        background: #000;
        background: linear-gradient(to right, #2c3e50, #bdc3c7);
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;

        
      

            
            &__cover {
                margin-right: 20px;     
            }
            
            &__rating {
                position: absolute;
                bottom: 30px;
                right: 30px;
               
            }
            
            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                position: relative; 
            }
            
            &__info h1 {
                margin-bottom: 20px;
                font-size: 50px;
            }
            
            &__info button {
                all: unset;
                font-size: 30px;
                position: absolute;
                bottom: 0;
                left: 0;
                cursor: pointer;
            }



            @media all and (max-width: 767px) {

                flex-direction: column;
                
  
                &__cover {
                    margin: 0 auto;
                    margin-bottom: 30px;   
                }
            
              }

    }

}





