@import '../../styles/palette.module.scss';

.all {
        display: flex;
        flex-wrap: wrap; 

        .CardAlbum {
            width: 20%;
            padding: 10px;
            margin-bottom: 3px;
            border-radius: 10px;
            transition: 0.2s ease-in;

            &__container {
                border-radius: 10px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                    &__img {
                        position: relative;
                        width: 160px;
                        height: 160px;
           
                        img {
                            border-radius: 10px;
                        }
                    }

                    &__info {
                        width: 160px;

                        h2 {
                            font-size: 20px;
                            margin: 10px 0;
                        }

                        p {
                            font-size: 15px;  
                            color: $grey;    
                        }
                    }
            }
        }

        .CardAlbum:hover  {
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.20);
        } 



        @media all and (max-width: 1200px) {
            .CardAlbum {
                width: 25%;
            }
        }


        @media all and (max-width: 767px) {
            .CardAlbum {
                width: 100%;

                    &__container {
                        display: flex;
                        flex-direction: row;

                            &__img {
                                width: 100px;
                                min-width: 100px;
                                height: 100px;
                                min-height: 100px;
                                margin-right: 20px;
                            }

                            &__info {
                                width: 100%;
                            }
        
                    }
             }   
        }


       
}