@import '../../styles/palette.module.scss';

.all {
        display: flex;
        flex-wrap: wrap; 

        .CardAlbum {
            width: 20%;
            padding: 10px;
            margin-bottom: 3px;
            border-radius: 10px;
            transition: 0.2s ease-in;

            &__container {
                border-radius: 10px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                    &__img {
                        text-align: center;
                        img {
                            border-radius: 10px;
                        }
                    }

                    &__info {
                        width: 160px;
                    }

                    &__info h2 {
                        font-size: 20px;
                        margin: 10px 0;
        
                    }

                    &__info p {
                        font-size: 15px;  
                        color: $grey;    
                    }
            }
        }

        .CardAlbum:hover  {
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.20);
        } 


        @media all and (max-width: 1200px) {
            .CardAlbum {
                width: 25%;
            }
        }


        @media all and (max-width: 767px) {
            .CardAlbum {
                width: 50%;
             }   
        }

        @media all and (max-width: 400px) {
            .CardAlbum {
                width: 100%;
             }   
        }
       
}