
/* GLOBAL *************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
/* @import '../styles/palette.module.scss'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-size: 16px;
  line-height: 26px;
  color: #34373b;
  background:  white;
}
img {
  display: block;
}
a {
  color: #263238;
  text-decoration: none;
}

h1 {
  margin: 0;
}
