/* GLOBAL *************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* @import '../styles/palette.module.scss'; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #34373b;
  background:  #f7fafc;
  position: relative;
  min-height: 100vh;
}
img {
  display: block;
}
a {
  color: #263238;
  text-decoration: none;
}

h1 {
  margin: 0;
}
