@import '../../styles/palette.module.scss';

.wrapper {
    width: 100%;

    .box {

        display: flex;
        align-items: center;
        padding: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid $orange;

            
            &__cover {
                margin-right: 20px;
                min-width: 200px;
            }
  
            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

             

                &__actions {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    gap: 10px;
                    
                    .heart {
                        color: $orange;
                    }

                }

                .rating {
                    text-align: right;
                }

                

                

        

                h1 {
                    margin-bottom: 20px;
                    font-size: 50px;
                    line-height: 55px;
                }

                button {
                    all: unset;
                    font-size: 30px;
                    cursor: pointer;
                }

  

            }



            @media all and (max-width: 767px) {

                flex-direction: column;
                
  
                &__cover {
                    margin: 0 auto;
                    margin-bottom: 30px;   
                }

                &__info {
                    h1 {
                        font-size: 40px;
                        line-height: 45px;
                    }
                }           
            }

    }

}





