
.Card {
    position: relative;
    background-color: white;
    justify-content: space-around;
    width: 98vw;
    min-height: 30vh;
    min-width: 270px;
    display: flex;
    padding: 10vh 1vw;
    transition: all 0.45s;
    

    &:nth-child(5) {
      min-width: 44%;
    }
    &:nth-child(8) {
      width: 94%;
    }
    &:nth-child(15) {
      min-width: 44%;
    }
    &:nth-child(24) {
      width: 94%;
    }

    @media screen and (max-width: 900px) {
    
        &:nth-child(5) {
          width: 280px;
        }
        &:nth-child(8) {
          width: 280px;
        }
        &:nth-child(15) {
          width: 280px;
        }
        &:nth-child(24) {
          width: 280px;
        }
      }
    
    &:hover {
      z-index: 2;
      // background-color: rgba(37, 37, 37, 0.226);
    //   cursor: pointer;
    }

    img {
      max-height: 420px;
      object-fit: contain;
      cursor:zoom-in;
      &:hover{
          transform: scale(1.3)
      }
    }
    .parteDestra{
        display: flex;
        flex-direction: column;
    
.Title_Rating {
        display: flex;
        flex-direction: column;
        font-size: 16px;

    .title_card {
        padding-bottom: 5px;
        // width: 85vw;
      overflow: hidden;
      text-align: justify;
    }
    
    .ratingStelle {
      display: flex;
      padding-left: 20px;
      padding-bottom: 20px;
    }
      
        .prezzoBtn{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span{
                color: red;
                font-weight: bold;
            }
      

      
      .btnAB {
          display: flex;
          flex-direction: column;
          margin-top: -7px;
          gap: 5px;
          
          button {
            cursor: pointer;
            height: 30px;
            width: 130px;
            white-space: nowrap;
            border: 1px solid;
            border-color: #a88734 #9c7e31 #846a29;
            border-radius: 4px;
            outline: none;
            
            a {
              text-decoration: none;
              color: black;
            }
          }
        .btnAdd {
          background-color: #f0c14b;
          background: linear-gradient(to bottom, #f7dfa5, #f0c14b);

          &:hover {
            background: linear-gradient(
              to bottom,
              darken(#f7dfa5, 10%),
              darken(#f0c14b, 10%)
            );
          }
        }
        .btnBuy {
          cursor: pointer;
          background-color: #ff7b00;

          &:hover {
            background: linear-gradient(
              to bottom,
              darken(#ff9100, 10%),
              darken(#ff8800, 10%)
            );
          }
        }
    }
      }
    }
    .descCard{
        
        text-align: justify;
          height: auto;
          width: 60vw;
          padding: 0;
          padding-top: 1vh;
          font-size: 16px;
        }
}
hr{
    width: 62vw;
}
  }

  @media screen and (max-width: 650px) {
    .Card{
      flex-direction: column;

      .parteDestra{

        .title_card {
          width: 85vw;
          margin: 15px auto;
      }
        .ratingStelle {
          padding: 0;
          margin: auto;
        }
        .prezzoBtn{
          padding: 0 15vw;

        }
        .descCard{
          margin: auto;
          width: 85vw;
        }
      }
    }
  }